@import '../../styles/global.scss';

.hero {
    font-family: Helvetica;
    font-weight: bold;
    margin: 0;
    padding: 0;

    &-cont{
        background-image: url('/assets/images/svg/hero.svg');
        height: 360px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -80px;
    }

    &-text-background {
        width: 100%;
    }   

    &-background {
        display: flex;
        background-color: black;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &-label {        
        &-text {
            text-align: right;
            font-family: 'Adidas-Bold';
            font-size: 9.5vw;
            margin-right: 35px;
            margin-top: 0;
            margin-bottom: 0;
        }

        &-text-adidas {
            padding-top: 21px;
        }

        &-text2 {
            padding-top: 0px;
            padding-right: 24px;
        }
    }

    &-title {
        font-size: 4.3vw;
        display: flex;
        text-align: left;
        width: 55vw;
        margin-top: 125px;
        margin-bottom: 80px;
        margin-left: 19px;
        color: white;
    }

    &-button {
        display: flex;
        margin-left: 18px;
        margin-top: -65px;
        margin-bottom: 30px;
        width: 32.5vw;
    }

    &-wrap {
        display: flex;
        flex-direction: column;

        &-text {
            font-family: 'Adidas-Bold';
            display: flex;
            text-align: center;
            white-space: nowrap;
            color: white;
            font-size: 4.3vw;
            &__1 {
               margin: 0;
               padding: 0;
               line-height: 0.5rem;
               margin-top: 27px;
            }
            &__2 {
                margin: 0;
                padding: 0;
                padding-top: 3px;
                margin-bottom: 26px;
            }
        }
    }
}