@import "../../styles/global.scss";

.header {
  height: 83px;
  &__logo {
    &-area {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }

    &-link {
      display: flex;
      align-items: center;
      height: 27px;
    }

    &-img {
      height: inherit;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &-burger {
      &-area {
          display: flex;
          align-items: center;
        flex-grow: 1;
      }
      &-img {
          height: inherit;
      }
      &-menu {
        position: absolute;
        z-index: 1;
        width: 80vw;
        height: 90px;
        background-color: rgba(10, 10, 10, 0.2);
        border-radius: 4px;
      }
    }

    &-icon {
      &-area {
        display: flex;
        justify-content: space-between;
        min-width: 100px;
      }
      &-link {
        display: flex;
        align-items: center;
        height: inherit;
      }
      &-img {
        width: 20px;
        max-height: 20px;
      }
    }
  }
}
